.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.ticker {
    margin: .5rem;
}

.sell-stock {
    margin: .5rem;
}

.buy-stock {
    margin: 1rem;
}

.submit {
    display: inline-block;
    margin-top: 1.5rem;
    background-color: darkgreen;
    color: white;
    margin: .5rem;
}

.submit:hover {
    background-color: green;
    color: white
}
.delete {
    display: inline-block;
    margin-top: 1.5rem;
    background-color:  darkred;
    color: white;
    margin: .5rem;
}

.delete:hover {
    background-color: red;
    color: white
}