@media screen and (max-width: 960px) {
  
.aboutBody {
    background-image: linear-gradient(white, white);
    padding-top: 1px;
  }
  .title {
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
  
  }
  .row {
      box-sizing: border-box;
  }
  .column {
      text-align: center;
      float: left;
      width: 23.5%;
      padding: 10px;
      height: 400px; 
      margin-top: 35px;
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  
    
    .column svg {
      color: black;
      font-size: 30px;
      margin: 10px;
      cursor: pointer;
    }
  }