.footer {
  color: white;
  background: linear-gradient(120deg, rgb(133, 50, 168) 20%, rgb(26, 23, 23) 40%);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.list-unstyled {
  list-style: none;
  font-size: 17px;
}

.col-left{
  text-align: center;

}

.col-right{
  text-align: center;
}

.row{
  text-align: center;
}

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
}

h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

li{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
