 .footer {
  color: white;
  background: black;
  
} 
.list-unstyled {
  list-style: none;
  font-size: 17px;
}

.col-left{
  text-align: center;

}

.col-right{
  text-align: center;
}

.row{
  text-align: center;
}

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
}

h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

li{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and (max-width: 960px) {
  .Footer {
    position: absolute;
  }}