.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    border: 2px solid rgb(26, 23, 23);
    padding: 40px;
    border-radius: 10px;
    width: 200px;
    background-color: rgb(26, 23, 23);
    box-shadow: 0px 11px 16px 0px rgba(0, 0, 0, 0.7);
}

.container:hover {
    transform: translateY(-1px);
    box-shadow: 0px 16px 20px 0px rgba(0, 0, 0, 0.8);
}

input {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    margin-top: 15px;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(164, 72, 204);
    color: #fff;
    cursor: pointer;
    font-size: 17px;
}

button:hover {
    background-color: grey;
}